:root {
  --primary-background: #191919;
  --secondary-background: #F5F5F5;

  --primary-button-color: #FF4081;
  --hover-button-color: #D81B60;
  --button-text-color: #FFFFFF;

  --primary-text-color: #A7A7A7;
  --secondary-text-color: #D9D9D9;

  --accent-color: #00BFA5;

  --border-gradient-color1: #00C0FD;
  --border-gradient-color2: #E70FAA;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

input:invalid {
  border: 2px solid red !important;
}

input:valid {
    border-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2)) 1 !important;
}

input:focus,
textarea:focus {
  outline: none;
  border-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2)) 1;
}

.button {
  background-color: var(--primary-button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
}

.button:hover {
  background-color: var(--hover-button-color);
}

.container{
  margin: auto;
  padding: 40px 10px 50px;
}

.navbar {
  width: 100%;
  padding: 10px 1%;
  margin: auto;
  position: fixed;
  /* border-bottom: 2px solid; */
  /* border-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2)) 1; */
  background-color: var(--primary-background) !important;
}
.logo {
  font-family: 'IBM Plex Mono', monospace;
}

.navbar-brand {
  font-weight: 800;
  font-size: 25px;
  line-height: 1;
  color: var(--primary-text-color);
}

.navbar-toggler {
  border: none;
    /* color: white; */
}
.navbar-toggler span {
  /* background-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; */
      /* color: white; */
}

.intro {
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  row-gap: 20px;
  color: var(--secondary-text-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -9999999;
}

.hero {
  height: 85vh;
}

.intro-avatar {
  width: 200px;
  padding: 2px;
  border-radius: 5px;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2));
}

.intro-avatar img {
  border-radius: 50%;
}

.intro-header {
  font-weight: 700;
  width: 90%;
  text-align: center;
  margin: auto;
  line-height: 1.5em;
}

.intro-header span, .logo {
  background-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section-header, h3 {
  color: var(--secondary-text-color);
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid;
  width: fit-content;
  border-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2)) 1;
  margin-bottom: 20px;
}
.section-text {
  color: var(--primary-text-color);
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
}
.dev-content {
  padding: 15px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev-avatar {
  width: 70%;
  background-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2));
  padding: 2px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.dev-avatar img {
  border-radius: 8px;
}
.about-list i{
  margin-right: 5px;
  font-weight: 600;
  background-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about-list span {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.stack-item{
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  justify-content: center;
}
.stack-item li {
  width: 70px;
  height: 70px;
  text-align: center;
  font-weight: 600;
}
.experience-item {
  padding-bottom: 23px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, var(--border-gradient-color1), var(--border-gradient-color2)) 1;
  margin-bottom: 20px;
}
.experience-item img {
  width: 16px;
  height: 12px;
  margin: auto 0;
  margin-right: 5px;
}
.pos-loc p, .type-date {
  justify-content: space-between;
}
.type {
  color: #018C0F;
  background-color: #D7FFE0;
  padding: 1px 21px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 9px;
  line-height: 26px;
}
.type-date p{
  margin-bottom: 0;
}
.project-wrap {
  flex-direction: column;
  gap: 20px;
}
.project-item {
  background-color: #363636;
  border-radius: 20px;
  width: 95%;
  margin: auto;
}
.project-img img{
  border-radius: 20px 20px 0 0;
}
.project-details{
  padding: 28px;
}
.project-details h3 {
  border: none;
  margin-bottom: 10px;
}

.project-stack {
  font-size: 16px;
}
.project-details span {
  font-weight: 600;
  color: var(--secondary-text-color);
}
.links {
  justify-content: space-between;
}
.links a {
  color: var(--primary-text-color);
}
.links img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin: auto;
  row-gap: 15px;
  margin-top: 20px;
}
.contact-form input, .contact-form textarea {
  padding: 10px 8px;
  border-radius: 3px;
  width: 75%;
}
.contact-form textarea {
  height: 150px;
  resize: none;
}
footer {
  padding: 20px 20px 0;
  margin-top: 10px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.footer-sm {
  column-gap: 10px;
}
.footer-sm img{
  width: 30px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-links {
  flex-direction: column;
  align-items: center;
  text-decoration: none !important;
  row-gap: 10px;
}
.contact-links a, .footer-nav a{
  text-decoration: none;
  color: var(--primary-text-color);
}